* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
     background-color: hsl(0, 0%, 98%);
}

@media (max-width:2000px) {
    .container {
        width: 1440px;
    }
}

@media (max-width:575px) {
    .container {
        width: 375px;
        padding: 15px;
    }
}

.container {
   
    margin: 150px auto;
}

.container .text {
    text-align: center;
    color: hsl(234, 12%, 34%);
    padding: 10px;
}

@media (max-width:575px) {
    .container .text {
        padding: 80px 15px;
    }
}

.container .text p {
    font-size: 38px;
    font-weight: 200;
    margin: 0;
    color: hsl(229, 6%, 66%);
}

.container .text h2 {
    font-size: 39px;
    margin-top: 0;
}

.container .text .last {
    font-size: 13px;
    margin: 15px;
    padding: 0 29%;
    font-weight: 500;
    color: hsl(229, 6%, 66%);
}

@media (max-width:575px) {
    .container .text p {
        font-size: 25px;
    }
    .container .text h2 {
        font-size: 25px;
    }
    .container .text .last {
        padding: 0;
        font-size: 13px;
    }
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    padding: 0 50px 150px;
}

@media (max-width:575px) {
    .container .cards {
        padding: 0;
    }
}

.container .cards .card {
    background-color: white;
    box-shadow: 0px 6px 20px 3px #00000026;
    border-radius: 6px;
    height: 300px;
    border-top: 5px solid black;
    padding: 15px 20px;
    margin-top: 40px;
}

@media (max-width:575px) {
    .container .cards .card {
        margin-top: 0;
    }
}

.container .cards .cyan {
    margin-top: 60%;
    border-color: hsl(180, 62%, 55%);
}

@media (max-width:575px) {
    .container .cards .cyan {
        margin-top: 0;
    }
}

.container .cards .cyan p {
    padding: 0 15px;
}

.container .cards .cyan h3 {
    padding: 0 15px;
}

.container .cards .red {
    border-color: hsl(0, 78%, 62%);
}

.container .cards .orange {
    border-color: hsl(34, 97%, 64%);
    margin-top: 40px;
}

.container .cards .blue {
    margin-top: 60%;
    border-color: hsl(212, 86%, 64%);
}

@media (max-width:575px) {
    .container .cards .blue {
        margin-top: 0;
    }
}

.container .cards .card h3 {
    color: hsl(234, 12%, 34%);
    margin-bottom: 0;
}

.container .cards .card p {
    font-weight: 500;
    color: hsl(229, 6%, 66%);
    line-height: 1.7;
    margin-top: 10px
}

.container .cards .card img {
    margin: 55px 10px 0px 300px;
}

@media (max-width:575px) {
    .container .cards .card img {
        margin: 56px 0px 0px 250px;
    }
}

.container .cards {}
